# Ignore virtual environment directory
venv/

# Ignore __pycache__ directories
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore jupyter checkpoint files
.ipynb_checkpoints/
